.about {
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffde4, #005aa7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fffde4,
		#005aa7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}
.about__header {
	margin-top: 0;
	padding-top: 3rem;
}
.about .wrapper {
	margin-top: 5rem;
	padding: 2rem;
	display: flex;
	align-items: center;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
}
.about__img {
	border-radius: 5px;
}
.about .text {
	margin: 0 3rem;
}
