/* Main */

html,
body {
	font-family: 'Comfortaa', cursive;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	margin-top: 0;
	color: #fff;
	text-align: center;
	font-family: 'Pacifico', cursive;
	text-shadow: 0 0 8px #209cee;
	letter-spacing: 0.1rem;
}

.section-container {
	position: relative;
}

.top-container {
	display: flex;
	height: 100vh;
}

.showcase {
	display: flex;
	align-items: center;
	background: #ccc;
	width: 70%;
	background-image: url('/img/entrance2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav {
	background: #209cee;
	width: 30%;
	padding: 1rem 3rem 0;
	text-align: center;
	-webkit-box-shadow: -5px -3px 10px 3px #209cee;
	-moz-box-shadow: -5px -3px 10px 3px #209cee;
	box-shadow: -5px -3px 10px 3px #209cee;
}

.showcase__header {
	font-size: 4rem;
}

.nav ul {
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	margin-top: 3rem;
	list-style: none;
	font-weight: 700;
}

.nav__item {
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	margin-bottom: 30px;
	transition: 0.4s;
	padding-left: 10px;
	border-radius: 5px;
}

.nav__item:hover,
.btn-up:hover {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(53, 51, 51, 0.71);
	-moz-box-shadow: 0px 0px 10px 2px rgba(53, 51, 51, 0.71);
	box-shadow: 0px 0px 10px 2px rgba(53, 51, 51, 0.71);
	color: #209cee;
	text-shadow: 0 0 8px white;
}

.contacts {
	margin-top: 4rem;
	color: #fff;
}

.contacts__phone {
	font-size: 1.2rem;
	transition: 0.3s;
}

.social-icons i {
	font-size: 2rem;
	margin: 0.5rem 0.3rem;
	transition: 0.3s;
}

.social-icons i:hover,
.contacts__phone:hover {
	color: #107cc4;
}

/* About */
.about {
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffde4, #005aa7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fffde4,
		#005aa7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}
.about__header {
	padding-top: 2rem;
	font-size: 3rem;
}
.about .wrapper {
	margin-top: 5rem;
	padding: 3rem;
	display: flex;
	align-items: center;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
}
.about__img {
	border-radius: 5px;
}
.about .text {
	margin: 0 3rem;
}
.about__instagram {
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}
.btn-up {
	text-align: center;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	transition: 0.3s;
	position: absolute;
	right: 20px;
	bottom: 10px;
}
/* Schedule */
.schedule {
	background: #209cee;
	height: 100vh;
}
.schedule__header {
	padding-top: 2rem;
	font-size: 3rem;
}
.schedule .table {
	display: grid;
	grid-template-columns: 200px 200px 300px;
	justify-content: center;
	grid-gap: 20px;
}
.table div {
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	justify-self: stretch;
	padding: 0.3rem;
	text-align: center;
	border-radius: 5px;
}
.table__header {
	font-size: 1.2rem;
	color: #fff;
}
/* Tariffs */
.tariffs {
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffde4, #005aa7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fffde4,
		#005aa7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}
.tariffs__header {
	padding-top: 2rem;
	font-size: 2rem;
}
.tariffs .table {
	display: grid;
	grid-template-columns: 350px 120px 120px 150px 150px;
	justify-content: center;
	grid-gap: 20px;
	font-size: .8rem;
}
.tariffs .table div:nth-child(28) {
	grid-column: 3/6;
}
.tariffs .table div:nth-child(39) {
	grid-column: 1/6;
}
.tariffs .comments {
	font-size: 80%;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	padding: 3px 15px 10px;
	max-width: 940px;
	margin: 20px auto;
}
.tariffs .comments__item {
	margin-bottom: 13px;
}
.tariffs .comments__red {
	color: rgb(218, 61, 61);
	font-weight: 700;
}
/* Pics */
.pics {
	background: #209cee;
	height: 100vh;
}
.pics__header {
	padding-top: 2rem;
	font-size: 2rem;
}
.pics .wrapper {
	display: grid;
	grid-template-columns: 600px 600px;
	grid-gap: 40px;
	justify-content: center;
}
.pics__img {
	height: 30vh;
	padding: 20px;
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	transition: 0.3s;
}
.pics__img:hover {
	cursor: pointer;
}
.pics__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* class to enlarge an img on click */
.pics__img.large-pic {
	grid-column: 1/3;
	height: 70vh;
}
/* Contacts */
.contact-section {
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffde4, #005aa7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fffde4, #005aa7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 95vh;
}
.contact-section__header {
	padding-top: 2rem;
	font-size: 2rem;
}
.contact-section .wrapper {
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	margin: 10px 50px;
	padding: 40px;
	display: grid;
	grid-template-columns: 300px 700px;
	justify-content: center;
	grid-gap: 30px;
	color: #fff;
	text-shadow: 0 0 8px #209cee;
}
.contact-section .wrapper__header {
	padding: 0;
	font-size: 1.4rem;
}
.contact-section__phone,
.contact-section__email {
	transition: 0.4s;
}
.contact-section__phone:hover,
.contact-section__email:hover {
	color: #107cc4;
}
.contact-section__map {
	background: #a2d3f3;
	-webkit-box-shadow: 0px 0px 10px 1px #fff;
	-moz-box-shadow: 0px 0px 10px 1px #fff;
	box-shadow: 0px 0px 10px 1px #fff;
	border-radius: 5px;
	margin: 30px 50px;
	display: flex;
	justify-content: center;
	padding: 10px;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	background: #ccc;
	font-weight: 700;
}
